h1 {
    text-align: center;
    color: #26a69a;
}

#jora {
    overflow-y: scroll;
    max-height: 600px;
}

.row  {
    border: 3px solid #26a69a;
    border-radius: 4px;
    font-family: Franklin Gothic Medium;
}